export AWS_REGION=...                   # AWS region to use, e.g. eu-west-1
export AWS_DEFAULT_REGION=$AWS_REGION
export AWS_ACCESS_KEY_ID= ...           # Your AWS Access Key ID
export AWS_SECRET_ACCESS_KEY=...        # Your AWS Secret Acces Key

# Bridge settings
export BRIDGE_MQTT_ENDPOINT=...                # e.g. mqtts://<user>:<password>@wirepas.com:8883
export BRIDGE_AWS_ACCESS_KEY_ID=...            # Value of thingy-rocks-backend.wirepasBridgeUserAccessKeyId
export BRIDGE_AWS_SECRET_ACCESS_KEY=...        # Value of thingy-rocks-backend.wirepasBridgeUserSecretAccessKey
export BRIDGE_CONNECTIONS_TABLE_NAME=...       # Value of thingy-rocks-backend.connectionsTableName
export BRIDGE_WEBSOCKET_MANAGEMENT_API_URL=... # Value of thingy-rocks-backend.WebSocketManagementApiURL